.login{
    position: relative;
    height: 740px;
    background: url('../img/background.fafce5017fe7cbe8ecfc.jpg') center center / cover no-repeat;
}
.login__header{
    position: absolute;
    width: 746px;
    height: 373px;
    min-width: 700px;
    background: rgba(25,54,70,.45);
    box-shadow: 0 4px 10px 8px rgb(33 95 123 / 50%);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login__logo{
    background: url('../img/logo_bo_y_te.0a64d78aa639881340cd.png') ;
    width: 257px;
    height: 73px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px 20px 20px 10px;
}

.login__application{
    bottom: 0;
    position: absolute;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.login__application-text{
    margin-bottom: 10px;
    font-size: 14px;
}

.login__application-link{
    width: 100px;
    height: 33px;
    border-radius: 3px;
    font-size: 1.4rem;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff!important;
    border: 2px solid #fff!important;
    padding: 6px 0 !important;
    
    display: inline-block;
}
.login__application-link:hover{
    background-color: #5f9bb7;
    border: 2px solid #25f70a!important;
}

.login__form{
    width: 22vw;
    min-width: 350px;
    background-color: #fff;
    box-shadow: 8px 12px 6px rgb(0 0 0 / 15%);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
}

.login__content{
    padding: 10%;
}

.login__content-logo{
    background: url('../img/logo_hssk_2.677f8378d1d6fa97835a.png');
    width: 128px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.login__content-heading{
    font-size: 24px!important;
    text-align: center;
    margin-bottom: 6vh;
    margin-top: 3vh;
}

.login__import{

}

.login__import-btn{
    height: 40px!important;
    width: 100%;
    background: #1790c9;
    border-radius: 50px;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 16px!important;
    margin-top: 3vh;
    border: none;
    cursor: pointer;
}
.login__import-btn:hover{
    background-color: rgb(73, 195, 243);
}

.login__import-hotline{
    margin-top: 30px;
    text-align: center;
    color: #1790c9;
}

.login__import-logo{
    background: url('../img/hotline.6609b8af2cef9f63708a.png');
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.login__import-phone{
    margin-top: 5px;
    font-size: 1.8rem;
    line-height: 1.6;
}

.login__import-desc{
    text-decoration: none;
    background-color: transparent;
    font-size: 1.8rem;
    line-height: 1.6;
}

.login__import-desc:hover{
    color: #f32b2b;
}




/* trick */
.form-field{
    position: relative;
    width: 100%;
    padding-bottom: 25px;
}

.form-input{
    padding: 20PX;
    border: 1PX solid rgb(70, 52, 233);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    transition: .25s ease;
    font-size: 1.5rem;

}
.form-input:focus{
    border-color: rgb(70, 52, 233);
}


.form-lable{
    position: absolute;
    top: 30% ;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: rgb(102, 100, 100);
    pointer-events: none;
    transition: .25s ease;
    font-size: 1.5rem;
}
.form-input:not(:placeholder-shown) +
.form-lable,
.form-input:focus + .form-lable{
    top: 0;
    display: inline-block;
    background-color: white;
    color: rgb(70, 52, 233);
}


/* slider */
.slider{

    width: 100%;
    min-height: 200px ;
    position: relative;
    background: url('../img/logo-dai-hoi.jpg')  center center / cover no-repeat ;
}

.slider__heading{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
/* header */
.header{
    height: 46px;
    background-color: #67bce4;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}
.header__navbar{
   margin:  0 16px;
    display:flex;
    justify-content: space-between; 
    
}

.header__navbar-list{
    display: flex;
    
}

.header__navbar-item{
  list-style: none;
  display: flex;
  position: relative;
  align-items: center;
}

.header__navbar-link:hover{
    color: var(--back-color);
    background-color: var(--hover-color);
}

.header__navbar-link{
    height: 46px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    padding: 15px 24px;
    display: inline-block;
    
}
.header__navbar-link i{
    color: #f32b2b;
    width: 20px;
    height: 20px;

}
/* more notifi*/
.header__navbar-icon{
    padding-left: 5px;
    font-size: 1.5rem;
    justify-items: center;
}

.header__navbar-more-list{
    position: absolute;
    background-color:var(--text-color);
    right: 0;
    width: 160px;
    z-index: 1;
    top: 100%;
    display: none;
    animation: fadein ease-in 0.3s;
    box-shadow: 0 0 2px 0 rgb(70, 68, 68);
}
.header__navbar-item:hover .header__navbar-more-list{
    display: block;
}

.header__navbar-more-item{
    list-style: none;
    padding: 7px 22px;
    
}
.header__navbar-more-item:hover{
    background-color: var(--hover-color);
}

.header__navbar-more-link{
    text-decoration: none;
    font-size: 1.9rem;
    display: block;
    color: var(--back-color);
}
.header__navbar-more-link i{
    color: #f32b2b;
    width: 20px;
    height: 20px;
    margin-right: 5px;

}
/* container */
.app__container{
    background-color: #f5f5f5;
    
}

.app__content{
    padding-top: 30px;
}
.category{
    
    background-color: #3c4746;
    border-radius: 2px;
}

.category__heading{
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgba(0 ,0 ,0 ,0.05);

}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 10px;
}

.category-list{
    padding: 0  0 10px 0;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid rgba(0 ,0 ,0 ,0.1);
}
.category-list:last-child{
    border-bottom: none;
}

.category-item-color{
    font-weight: 600;
    color: black;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}
.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    border: 5px solid;
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    position: relative;
    right: 0;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 6px 16px;
    display: block; 
    transition: right linear 0.1s;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/*home filter */
.home-filter{
    background-color: rgb(156, 156, 156);
    display: flex;
    align-items: center;
    padding: 12px 10px;
    border-radius: 2px;

}
.home-filter-text{
    font-size: 1.4rem;
    color: rgb(44, 44, 44);
    font-weight: 600;
}
.home-poduct{
    margin: 5px 0 10px 0;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    max-height: 50vh;
    overflow-y: auto;

}
.home-poduct--list{
    background-color: #3c4746;
}
.home-poduct__item{
    margin: 10px 0;
    color: #ffffff;
    float: left;
    font-size: 1.4rem;
    display: block;
    align-items: center;
    text-align: center;
    padding: 10px 0;
   
}
.home-poduct__item:last-child{
    border-right: none ;
}
.home-poduct__link{
    margin: 10px 0;
    color: #000000;
    float: left;
    font-size: 1.4rem;
    display: block;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #3c4746;
}
.home-btn{
    border-radius: 5px;
    border: none;
    height: 40px;
    padding: 8px 16px;
    float: right;
    margin-right: 50px;
    margin-bottom: 20px;
    
    background-color: #f32b2b;
}

/* import cơ sở */
.home-basis__item{
    margin: 10px 0;
    color: #ffffff;
    float: left;
    font-size: 1.4rem;
    display: block;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    min-height: 40vh;
}

.basis__heading{
    font-size: 2rem;
    display: block;
    padding: 10px 0;
}

.basis__name{
    align-items: center;
    text-align: center;
    display: flex;
    padding: 16px 0;
    justify-content: center;
}

.basis__name-text{
    font-size: 2rem;
    display: block;
    padding: 0 10px;
    margin-left: -44px;
}

.basis__name-input{
    height: 35px;
    min-width: 300px;
    border-radius: 4px;
    padding: 8px 16px;
}

.basis__upload{
    padding: 20px 0;
}

.basis__upload-list{
    display: inline-block;
    height: 32px;
    border-radius: 3px;
    min-width: 150px;
    margin-right: 10px;
}

.basis__upload-item{
    display: block;
    font-size: 1.5rem;

}

.basis__upload-input{
    height: 35px;
    min-width: 300px;
    border-radius: 4px;
    padding: 8px 16px;
}
.basis__upload-btn{
    display: inline-block;
    height: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    min-width: 90px;
    background-color: #9ef393;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 4px;
    color: #f32b2b;
}
/*  */

