* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}


.nav{
    min-height: 42px;
    background-color: red;
    display: flex;
    justify-content: space-between;
}
.nav-list{
    padding-left: 0;
    margin: auto 16px;
}
.nav-item{
    color:  white;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
/* dangnhap */
.from-dangnhap{
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: pink;
}
.from_row{
    padding: 8px;
    display: flex;
}
.from_lable{
  min-width: 90px;
}
.from_input{
 display: inline-flex;
}
.colum-layout{
    margin-top: 36px;
    padding: 12px 0;
    background-color: palevioletred;
    display: flex;
}
.colum-item{
    padding: 0 16px;
   
}
.layout-left{
    flex: 1;
}
.layout-center{
    flex: 3;
}
.layout-right{
    flex: 1;
}
.feature-layout{
    margin-top: 36px;
    margin-bottom: 36px;
    background-color: rgb(131, 135, 182);
    display: flex;
    justify-content: space-around;
}
.feature-item{
    padding:  12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}
.feature-item:nth-child(1){
    background-color: greenyellow;
}
.feature-item:nth-child(2){
    background-color: rgb(163, 30, 81);
}
.feature-item:nth-child(3){
    background-color: rgb(236, 240, 36);
}
.war-layout{
    background-color: honeydew;
    margin-top: 36px;
    padding: 12px 0 32px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.war-layout_item{
    width: 148px;
    height: 90px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    background-color: red;
    
}
.chart-layout{
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: rosybrown;
    display: flex;
    justify-content: space-around;
}
.chart-layout_item{
    align-self: flex-end;
    width: 60px;
    color: rgb(236, 240, 36);
    text-align: center;
    height: var(--percent);
    background-color: red;
    animation: growth ease-in 1s;
}
@keyframes growth{
    from{
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to{
        opacity: 1;
        height: var(--percent);
    }
}   

