:root{

    --primary-color: #ee4d2d;
    --white-color: #ffffff;
    --back-color: black;
    --text-color: #333;
    --border-color: #dbdbdb;
    --navbar-height: 40.2px;
    --header__sofr-bar: 46px;
    --header-height: 120px;
    --star-color: #ffce3e;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
/* responsive */

/* GIÚP tích hợp theo nhiều màn hình */
 
/* những thẻ nào dùng class này sẽ nằm ngang */



/* amition */
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;

    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));

    }
}

.app{
    overflow: hidden;
}
/* modal */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    animation: fadein linear 0.2s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0 , 0 , 0.4);
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.2s;
}
/* btn stlye */
.btn{
    min-width: 142px ;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);

}
.btn__nomal:hover{
    background-color: rgba(0,0,0,0.2);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);


}
/* vô hiệu hóa nút */
.btn.btn--disable{
    color: #ccc;
    cursor: default;
    background-color: #999;
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding:  0 5px;
     
}
.header__search-input:focus ~ .header__search-history{
    display: block;
} 
/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 3px #666;
    overflow: hidden;
    display: none;

}

.header__search-history-heading {
    margin: 8px 12px;
    font-size: 1.3rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.header__search-history-item {
   height: 30px;
   padding: 0 12px;

}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color);
    line-height: 30px; /* làm căn chữ giữa hàng*/
}
/* selection */
.select-input{
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input-lable{
    font-size: 1.4rem;

}

.select-input-icon{
    color: #4a4a4a;
    position: relative;
    top: 1px;
    font-size: 1.4rem;
}
.select-input__list{
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    top: 25px;
    padding: 10px 14px 12px 9px;
    border-radius: 3px;
    background-color: var(--white-color);
}
.select-input__item{
    list-style: none;
    margin: 4px;
   
}
.select-input__link:hover{
    color: var(--primary-color);
}
.select-input__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 6px 0;

}
/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item{
    list-style: none;
    margin: 0 8px;
}

.pagination-item__link{
    --height: 30px;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
   
}
.pagination-item--active .pagination-item__link{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active:hover .pagination-item__link{
    background-color: rgb(240, 103, 94);
}

.pagination-item__icon{
    
}